.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.alert-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.note_details p {
    width: 75%;
    color: rgb(82, 79, 79);
}

#btnTheme {
    padding: 10px;
    font-size: 18px;
    transition: 300ms all linear;
}

.theme-btn-dark{
    color:#fff;
}
.theme-btn-light{
    color:#2A0944;
}

/* app */
.App.light {
    background: #fff !important;
    color: #2A0944 !important;
    transition: 400ms all linear;
}

.App.dark {
    background: #2A0944 !important;
    color: #fff !important;
    transition: 400ms all linear;
}

.App.dark #btnTheme,
.App.dark p,
.App.dark label {
    color: #fff;
}

.App.dark #btnTheme{
    background-color: transparent;
    border: none;
}

.App.light #btnTheme{
    background-color: transparent;
    border: none;
}

.App.light #btnTheme,
.App.light p,
.App.light label {
    color: #2A0944;
}